{{- if .Values.database.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "pci-app.labels" . | nindent 4 }}
    app.kubernetes.io/component: database
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: postgres
    protocol: TCP
    name: postgres
  selector:
    {{- include "pci-app.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: database
{{- end }}
